@use "vuetify";

// enforce font globally
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Viga&display=swap");

*,
html,
body {
  font-family: "Poppins" !important;
  -webkit-font-smoothing: antialiased !important;
}

.title-label {
  color: $primary-color;
  font-size: 1.125rem;
  font-weight: 500;
}

.inputDetails-none {
  .v-input__details {
    display: none;
  }
}

.color-text-option {
  color: $gray-3;
}

.eventNone {
  pointer-events: none;
}

.v-icon.notranslate.v-theme--mainTheme.v-icon--size-default {
  opacity: initial;
}
div[name="ph:check-square-fill"] {
  .v-icon.notranslate.v-theme--mainTheme.v-icon--size-default {
    color: $heavy-purple;
  }
}

//switch row height
//.switch-row-height{
div[class="v-input v-input--horizontal v-input--density-default v-input--dirty v-switch v-switch--inset"] {
  height: 40px;
}
//}

//checkbox row height
//.checkbox-row-height{
div[class="v-input v-input--horizontal v-input--density-default v-checkbox inputDetails-none"] {
  height: 40px;
}
div[class="v-input v-input--horizontal v-input--density-default v-input--dirty v-checkbox inputDetails-none"] {
  height: 40px;
}
div[class="v-input v-input--horizontal v-input--density-default v-input--disabled v-checkbox"] {
  height: 40px;
}
//}

//.FormSwitch{
div[class="v-selection-control__wrapper"] {
  div[class="v-switch__track"] {
    color: $gray-4;
    opacity: initial;
    width: 43px;
    height: 24px;
  }
  div[class="v-switch__thumb"] {
    color: $white;
    opacity: initial;
    width: 20px;
    height: 20px;
  }
}

.v-label.v-label--clickable {
  font-size: 1rem;
  opacity: initial;
}
//}

// switch-success
div[class="v-selection-control__wrapper text-success"] {
  div[class="v-switch__track"] {
    color: $success-switch;
    opacity: initial;
    width: 43px;
    height: 24px;
  }
}

.icon-dropdown-questionType {
  svg[class="icon v-icon notranslate v-theme--mainTheme v-icon--size-default"] {
    // TODO consertar
    background-image: url(/assets/images/chevron-down-type-question.svg);
    //xmlns: url("http://www.w3.org/2000/svg");
    //height:220px;
    //width:300px;
    //viewBox:0 0 24 24;
    path {
      //fill:#fa688c;
      fill: $white;
      d: path("M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12M8 9h8v10H8V9m7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5Z");
    }
  }
}

// justify content of v-progress-linear
.justify-start-progress-bar {
  div[class="v-progress-linear__content"] {
    justify-content: flex-start;
  }
}

// color text disable button v-tab
button[class="v-btn v-theme--mainTheme v-btn--density-default rounded-0 v-btn--size-default v-btn--variant-text v-tab"] {
  color: $black-54;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.v-btn {
  border-radius: 4px !important;

  &__content {
    font-size: 0.875rem;
    text-transform: none !important;
  }
}

.v-tab {
  text-transform: none !important;
}

.title-td-table-invitations {
  font-size: 16px;
  color: $gray-1;
}

.sub-title-td-table-invitations {
  font-size: 12px;
  color: $gray-3;
}

.overflow-hidden-table-invitation {
  div[class="v-table__wrapper"]::-webkit-scrollbar {
    display: none;
  }
}

/* .v-btn .label {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 6px;
	display: inline-block;
	cursor: pointer;
} */

// Theme gradients
.gradient {
  &.primary {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(67, 56, 202, 1) 12%,
      rgba(79, 70, 229, 1) 38%,
      rgba(99, 102, 241, 1) 100%
    ) !important;
  }

  &.cancel {
    // color: #1e293b;
    background: linear-gradient(
      318deg,
      rgba(203, 213, 225, 1) 12%,
      rgba(226, 232, 240, 1) 38%,
      rgba(241, 245, 249, 1) 100%
    ) !important;
  }

  &.success {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(21, 128, 61, 1) 12%,
      rgba(22, 163, 74, 1) 38%,
      rgba(34, 197, 94, 1) 100%
    ) !important;
  }

  &.info {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(30, 64, 175, 1) 12%,
      rgba(37, 99, 235, 1) 38%,
      rgba(59, 130, 246, 1) 100%
    ) !important;
  }

  &.warn {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(180, 83, 9, 1) 12%,
      rgba(217, 119, 6, 1) 38%,
      rgba(245, 158, 11, 1) 100%
    ) !important;
  }

  &.error {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(153, 27, 27, 1) 12%,
      rgba(220, 38, 38, 1) 38%,
      rgba(248, 113, 113, 1) 100%
    ) !important;
  }

  &.gray {
    color: white;
    background: linear-gradient(
      318deg,
      rgba(30, 41, 59, 1) 12%,
      rgba(44, 55, 74, 1) 38%,
      rgba(71, 85, 105, 1) 100%
    ) !important;
  }
}
