// Colors
$primary-color: #4e1651;
$secondary-color: #712369;
$tertiary-color: #a22a6e;

$accent-color: #fa688c;
$second-accent-color: #ffb0cf;
$accent-color-light: #fef0f0;
$primary-bg-color: $second-accent-color;

$text-color-primary: #333;
$text-color-secondary: #555;
$text-color-tertiary: #777;

$warning-color: #ffc943;
$error-color: #ff8c64;
$danger-color: #f26f66;

$black: #333;
$black-1: #262626;

$white: #FFFFFF;
//$white: #fafafa;
//$white: #fff;
$gray-1: #4c4c4c;
$gray-2: #919191;
$gray-3: #b1b1b1;
$gray-4: #d2d2d2;
$gray-5: #f3f3f3;

$base-purple: #f3f0f5;
$heavy-purple: #4e1c51;

$pink: #ffb0cf;
$soft-pink: #ffe3f0;

$soft-danger: #ffaaa5;

$success-switch: rgba(61, 193, 78, 0.5);
$success-soft: #8CEA98;
$success-1: #3DC14E;

$black-0: #000000;
$black-54: rgba(0, 0, 0, 0.54);